@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'react-datepicker/dist/react-datepicker.css';

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222 47% 11%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --primary: 221 83% 18%;
    --primary-foreground: 210 40% 98%;
    --secondary: 114 45% 48%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --accent: 114 45% 48%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;
    --ring: 114 45% 48%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;
    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;
    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;
    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;
    --border: 216 34% 17%;
    --input: 216 34% 17%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;
    --secondary: 114 45% 48%;
    --secondary-foreground: 210 40% 98%;
    --accent: 114 45% 48%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --ring: 114 45% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-industry;
  }
}

@layer components {
  .btn-primary {
    @apply bg-navy text-white hover:bg-navy/90;
  }
  .btn-secondary {
    @apply bg-green text-white hover:bg-green-dark;
  }
  .btn-outline {
    @apply border-2 border-navy text-navy hover:bg-navy hover:text-white;
  }
  .link {
    @apply text-green hover:text-green-dark underline;
  }
  .card {
    @apply bg-white shadow-md rounded-lg border-l-4 border-l-green;
  }
  .nav-item {
    @apply text-navy hover:text-green transition-colors duration-200;
  }
}

@layer utilities {
  .min-h-screen {
    min-height: 100vh; /* Fallback */
    min-height: 100dvh;
  }
  .h-screen {
    height: 100vh; /* Fallback */
    height: 100dvh;
  }
}

@font-face {
  font-family: 'Industry';
  src: url('/fonts/Industry-Book.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Industry';
  src: url('/fonts/Industry-Demi.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Industry';
  src: url('/fonts/Industry-Ultra.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}