@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 20 66% 99%;
    --foreground: 20 51% 4%;
    --muted: 20 25% 86%;
    --muted-foreground: 20 7% 25%;
    --popover: 20 66% 98%;
    --popover-foreground: 20 51% 3%;
    --card: 20 66% 98%;
    --card-foreground: 20 51% 3%;
    --border: 20 15% 94%;
    --input: 20 15% 94%;
    --radius: 0.5rem;
    
    /* Remove team-specific colors from here */
    /* They will be set dynamically */
  }

  * {
    @apply border-border;
  }

  html {
    font-size: 0.9rem;
  }

  body {
    @apply box-border bg-background text-foreground;
    font-size: 0.8rem;
  }

  h1 { @apply text-xl font-bold; }
  h2 { @apply text-lg font-semibold; }
  h3 { @apply text-base font-semibold; }
  h4 { @apply text-sm font-semibold; }
  h5 { @apply text-xs font-medium; }
  h6 { @apply text-base font-medium; }
}

@layer components {
  * {
    @apply border-border;
  }
  body {
    @apply box-border bg-background text-foreground;
  }
}

@layer utilities {
  .min-h-screen {
    min-height: 100vh;
    min-height: 100dvh;
  }
  .h-screen {
    height: 100vh;
    height: 100dvh;
  }
}